<section class="row">
  <article class="column column-20">
    <p></p>

    <h3>Web Apps</h3>
    <ul>
      <li>
        <a href="https://github.com/thaismr/ayvuapp">Ayvu App</a>
      </li>
      <li>
        <a href="https://github.com/thaismr/glitch">Glitch (Reactjs)</a>
      </li>
      <li>
        <a href="https://github.com/thaismr/levoemcasa-heroku">Levo em Casa</a>
      </li>
    </ul>

    
    <h3>Unity / C#</h3>
    <ul>
      <li>
        <a href="https://github.com/thaismr/cafe-2d-game-csharp">2D Cafe Game</a>
      </li>
      <li>
        <a href="https://github.com/thaismr/tutankhamon-game-csharp">Tutankhamon</a>
      </li>
      <li>
        <a href="https://github.com/thaismr/3D-Game-System-Csharp">Terra Nova</a>
      </li>
    </ul>
    
  </article>
  <article class="column column-80">
    <section class="main">
      <h2><%= gettext "Welcome to %{name}!", name: "Blokos Dev" %></h2>
      <p>Here you can find some of my main projects and their status.</p>
      <p>To check my latest activities you can go directly to my <a href="https://github.com/thaismr">Github profile</a>.</p>
    </section>
  </article>
</section>
