<h1>Listing Topics</h1>

<%= if @live_action in [:new, :edit] do %>
  <.modal return_to={Routes.topic_index_path(@socket, :index)}>
    <.live_component
      module={BlokosDevWeb.TopicLive.FormComponent}
      id={@topic.id || :new}
      title={@page_title}
      action={@live_action}
      topic={@topic}
      return_to={Routes.topic_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="topics">
    <%= for topic <- @topics do %>
      <tr id={"topic-#{topic.id}"}>
        <td><%= topic.name %></td>

        <td>
          <span><%= live_redirect "Show", to: Routes.topic_show_path(@socket, :show, topic) %></span>
          <span><%= live_patch "Edit", to: Routes.topic_index_path(@socket, :edit, topic) %></span>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: topic.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New Topic", to: Routes.topic_index_path(@socket, :new) %></span>
