<h1>Show Topic</h1>

<%= if @live_action in [:edit] do %>
  <.modal return_to={Routes.topic_show_path(@socket, :show, @topic)}>
    <.live_component
      module={BlokosDevWeb.TopicLive.FormComponent}
      id={@topic.id}
      title={@page_title}
      action={@live_action}
      topic={@topic}
      return_to={Routes.topic_show_path(@socket, :show, @topic)}
    />
  </.modal>
<% end %>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @topic.name %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.topic_show_path(@socket, :edit, @topic), class: "button" %></span> |
<span><%= live_redirect "Back", to: Routes.topic_index_path(@socket, :index) %></span>
